:root {
  --main-font: "Roboto", san-serif;
  --timer-background-color: rgba(8, 88, 236, 0.404);
  --timer-border: 1px solid black;
  --timer-height: 70%;
  --timer-width: 50%;
  --botton-border: 3px solid #000;
  --button-text-size: 1em;
}

body, div, p {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  :root {
    --timer-height: 70%;
    --timer-width: 70%;
    --button-text-size: 1.5em;
  }
}